body {
	margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
	width: 50%;
	border: 3px solid black;
	padding: 30px;
	text-align: center;
	font-family: 'Lora', serif;
    color: black;
}

.links {
    align-content: center;
}

h1 {
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Merriweather', serif;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:visited {
    color: grey;
    text-decoration: none;
}

img {
    max-width: 100%
}

.top-button {
    margin: 5px;
    background-color: #ffffff;
}
